@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --bs-body-font-family: 'Ubuntu', sans-serif !important;
}

// Colors
$primary:      #318CCF;
$secondary:    #2B404F;
$success:      #00B950;
$warning:      #FCC00E;
$danger:       #E94539;


// scss-docs-start border-radius-variables
$border-radius:               .2rem !default;
$border-radius-sm:            .15rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;
// scss-docs-end border-radius-variables


// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';